global-reset()

*
*::before
*::after
  box-sizing: border-box

html
  font-size: 62.5%
  text-size-adjust: 100%

body
  -webkit-overflow-scrolling: touch
  -ms-overflow-style: -ms-autohiding-scrollbar
  font-family: 'Hiragino Kaku Gothic ProN', 'メイリオ', sans-serif
  line-height: 1.4
  min-height: 100vh
  position relative
  tap-highlight-color: transparent
  touch-callout: none
