colors($bg, $color)
  if !$color
    $color = $bg
  background: $bg
  color: $color


fonts($fontSize, $fontWeight)
  font-size: $fontSize
  font-weight: $fontWeight


max-size($maxWidth, $maxHeight=null)
  if $maxHeight == null
    $maxHeight = $maxWidth
  max-height: $maxHeight
  max-width: $maxWidth


min-size($minWidth, $minHeight=null)
  if $minHeight == null
    $minHeight = $minWidth
  min-height: $minHeight
  min-width: $minWidth


bg-img($url, $bgSize=contain)
  background-image: 'url(%s)' % $url
  background-position: center
  background-repeat: no-repeat
  background-size: $bgSize


ellipsis($number=null)
  overflow: hidden
  text-overflow: ellipsis
  // @stylint off
  if !$number
    white-space: nowrap

  else
    /* autoprefixer: off */
    -webkit-box-orient: vertical
    -webkit-line-clamp: $number
    display: -webkit-box
    word-wrap: break-word
  // @stylint on


scrollable()
  overflow: auto
  scroll-behavior: smooth
  scrollbar-width: none;
  -webkit-overflow-scrolling:touch
  -ms-overflow-style: none; /* IE、Edge用 */


img-container($objectFit=contain)
  > picture > img
  > img
    object-fit: $objectFit
    size: 100%


serialize-margin($space, $direction = 'right')
  margin-{$direction}: $space

  &:last-child
    margin-{$direction}: 0
